head  {
    background-color: antiquewhite;
    
}


body {
   background-color: antiquewhite;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;
}

h1 {
    text-align: center;
    color: black;
    font-size: 52;
}

object {
    height: 1000px;
    width: 1000px;
}

.menu {
             
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
    
}



