body {
    background-color: antiquewhite;
}

header {
    text-align: center;
}

input {
    text-align: center;
    position: fixed; top: 100px; left: 650px;
}

h1 {
    color: black;
    text-align: center;
    font-size: large;

}
