body {
    background-image: url("images/dronesSky.jpeg");
       
      
}

header {
    text-align: center;
}

input {
    text-align: center;
    position: relative; left: 650px;
}

h1 {
    color: black;
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#McDonald,#Max,#Subway{
    margin-top: 40px;
}
#category-name{
    float: left;
    margin: 5px;
    font-size: 15px;
    color:steelblue;
    position: relative; bottom: 400px; left: 300px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#item-card{
    float: left;
    width: 140px;
    height: 180px;
    padding: 5px;
    margin: auto;
    display: inline-block;
    border-radius: 8px;
    background:   grey;
    transition: 0.5s all ease-in-out;
    position: relative; bottom: 350px; left: 200px;
}
#item-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#item-card img:hover{
    transform: scale(1.1);
}
#card-top{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
#rating{
    padding: 7px;
    color: seagreen;
    background: silver;
    font-size: 14px;
    border-radius: 14px;
}
.fa-cart-plus{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.toggle-cart{
    background: orangered;
    color: white;
}
#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: whitesmoke;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#item-price{
    margin: 0;
    font-weight: 5;
    color: whitesmoke;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box{
    position: relative; left: 1200px;
}
#Kundkorg{
    position: relative; left: 1200px;
}


#form3{
    position: relative; left: 10px; bottom: 80px
}

#menykort{
    float: left;
    width: 200px;
    height: 250px;
    padding: 5px;
    margin: auto;
    display: block;
    border-radius: 8px;
    background:   grey;
    transition: 0.5s all ease-in-out;
    position: absolute; bottom: -100px; left: 280px
}
#mcmeny{
    margin: 5px;
    position: relative; left: 25px;
}
#mc-burgare{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#mc-pommes{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#mc-läsk{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

#mcd-burgare{
    position: relative; left: 70px; bottom: 190px

}
#mcd-pommes{
    position: relative; left: 70px; bottom: 170px

}
#mcd-läsk{
    position: relative; left: 70px; bottom: 140px

}


#menykort2{
    float: left;
    width: 200px;
    height: 250px;
    padding: 5px;
    margin: auto;
    display: block;
    border-radius: 8px;
    background:   grey;
    transition: 0.5s all ease-in-out;
    position: absolute; bottom: -100px; left: 560px
}
#maxmeny{
    margin: 5px;
    position: relative; left: 25px;
}
#max-burgare{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#max-pommes{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#max-läsk{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

#maxburgare{
    position: relative; left: 70px; bottom: 190px

}
#maxpommes{
    position: relative; left: 70px; bottom: 170px

}
#maxläsk{
    position: relative; left: 70px; bottom: 140px

}

#menykort3{
    float: left;
    width: 200px;
    height: 250px;
    padding: 5px;
    margin: auto;
    display: block;
    border-radius: 8px;
    background:   grey;
    transition: 0.5s all ease-in-out;
    position: absolute; bottom: -100px; left: 860px
}
#BKmeny{
    margin: 5px;
    position: relative; left: 25px;
}
#BK-burgare{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#BK-pommes{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#BK-läsk{
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    display: block;
    margin-top: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

#BKburgare{
    position: relative; left: 70px; bottom: 190px

}
#BKpommes{
    position: relative; left: 70px; bottom: 170px

}
#BKläsk{
    position: relative; left: 70px; bottom: 140px

}




