@font-face {
    font-family: 'AstroFont';
    src: url("Fonts/AstroFont.ttf") format('truetype');
  }

@font-face {
    font-family: 'Attraction';
    src: url("Fonts/Attraction.ttf") format('truetype');
}


@font-face {
    font-family: 'Lato';
    src: url("Fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'orbit';
    src: url("Fonts/OrbitPersonalUseBold-VGDoe.ttf") format('truetype');
}

@font-face {
    font-family: 'mom';
    src: url("Fonts/MomcakeThin-9Y6aZ.otf");
}

header {
    font-family: Attraction;
    position: relative; right: 650px;
    font-size: small;
}

body {
    background-image: url("images/dronedrawing.jpeg"), url("images/dronesSky.jpeg");
    background-position: top right, bottom right;
    background-repeat: no-repeat;
       
      
}

.GFG {
    background-color: grey;
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
    position:relative; right: 800px; top:  80px;
    font-family: Lato;
}

header {
    text-align: center;
}

input {
    text-align: center;
    position: relative; left: 275px;
    width:  60%;
    border: 2px solid grey;
    height: 20px;
    margin-top: 2px;
}

h1 {
    font-family: orbit;
    position: relative; 
    text-align: center;
    font-size: 50px;
}

h2 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: mom;

}
#McDonald,#Max,#Subway{
    margin-top: 15px;
}
#category-name{
    float: left;
    margin: 5px;
    font-size: 15px;
    color:steelblue;
    position: relative; bottom: 400px; left: 100px; 
    font-family: Lato;
}
#item-card{
    float: left;
    width: 140px;
    height: 180px;
    padding: 5px;
    margin: 40px;
    display: inline-block;
    border-radius: 8px;
    background:   grey;
    transition: 0.5s all ease-in-out;
    position: relative; bottom: 550px; left: 360px;
}
#item-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
#item-card img:hover{
    transform: scale(1.1);
}
#card-top{
    display: flex;
    margin: 5px;
    justify-content: space-between;
}
#rating{
    padding: 7px;
    color: seagreen;
    background: silver;
    font-size: 14px;
    border-radius: 14px;
}
.fa-cart-plus{
    padding: 6px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.toggle-cart{
    background: orangered;
    color: white;
}
#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: whitesmoke;
    font-size: 18px;
    font-family: Lato;
}
#item-price{
    margin: 0;
    font-weight: 5;
    color: whitesmoke;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#box{
    position: relative; left: 1200px;
}
#Kundkorg{
    position: relative; left: 1200px;
}
#number{
    position: relative; left: 10px;
}
#knapp{
    position: relative; left: 10px;
}
